/* Custom styles for the Ski School project */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: #f2f7fd; /* light blue */
    color: #000; /* black */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background-color: #6c757d; /* grey */
    color: #f2f7fd; /* white */
    padding: 10px 0; /* Add padding to top and bottom */
}

.background-image {
    background-image: url('/ski_school/static/images/Mountain.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: contain; /* Adjust the size of the background image */
    background-repeat: no-repeat;
    background-position: center;
    height: 300px; /* Adjust the height as needed */
}


.navbar-nav .nav-link {
    color: #005a8d; /* blue */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Change this to your desired background color */
    color: #000; /* Change this to your desired text color */
    text-align: center;
    padding: 10px; /* Adjust as needed */
    z-index: 1000; /* Adjust as needed */
}


main {
    flex: 1; /* Take remaining space */
    padding: 20px; /* Add padding */
}
