<!-- templates/booking/home.html -->

{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Learn about our ski School!</h1>
<p>Welcome to Alpine Peaks Ski School in the Austrian Alps, established in 1984.
    With a team of ten experienced ski instructors, we offer friendly and professional
    guidance for skiers of all levels. Our instructors are passionate about sharing their
    love for skiing and ensuring each student's success on the slopes. From beginners to
    advanced skiers, we provide personalized instruction tailored to individual needs.
    Join us for an unforgettable skiing experience amidst breathtaking mountain scenery,
    where camaraderie and skill development go hand in hand. At Alpine Peaks Ski School,
    we're dedicated to making your time on the slopes both enjoyable and rewarding.</p>
<p>Learn to ski with us! Book your lessons now.</p>
<!-- Add more content here as needed -->
{% endblock %}
