<!-- instructor_profile.html -->

{% extends 'booking/base.html' %}

{% block title %}Instructor Profile{% endblock %}

{% block content %}
    <h2>Instructor Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <form action="{% url 'delete_instructor_profile' %}" method="post" id="delete-form">
        {% csrf_token %}
        <button type="submit" onclick="return confirmDelete()">Delete Profile</button>
    </form>
{% endblock %}

<script>
    function confirmDelete() {
        console.log("Confirm delete function called");
        return confirm("Are you sure you want to delete your bio?");
    }
</script>




