/* Custom styles for the Ski School project */

/* base.html */

/* body */

body {
    background-color: #f2f7fd; 
    color: #000; 
    margin: 0; 
    padding: 0; 
}

/* header */

header {
    background-color: #6c757d; 
    color: #f2f7fd; 
    padding: 10px 0; 
}

.background-image {
    background-image: url('/static/images/Mountain.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

/* navigation */

.navbar-nav .nav-link {
    color: #005a8d;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

/* main */

main {
    /* flex: 1; Take remaining space */
    border-bottom: 50px;
    margin-bottom: 50px;
}

/* footer & social icons */

.footer {
    position: fixed; /* Fixed position to keep the footer at the bottom of the viewport */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #000;
    text-align: center;
    padding: 20px 0; /* Adjust padding for better spacing */
    z-index: 1000;
}

/* Add margin to the bottom of the main content area to make space for the fixed footer */
main {
    margin-bottom: 150px; /* Adjust this value according to the height of your footer */
}

/* Ensure that content can be scrolled */
.content {
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.social-icons {
    margin-top: 20px; /* Add some space between the footer text and social icons */
    text-align: center;
}

.social-icons li {
    display: inline-block; /* Display social icons inline */
    margin: 0 10px; /* Adjust spacing between social icons */
}

.social-icons i {
    font-size: 24px; /* Increase the size of social icons */
    color: #708090;
    transition: color 0.3s ease; /* Add smooth transition effect */
}

.social-icons i:hover {
    color: #005a8d; /* Change color on hover for better interactivity */
}


/* styles.css */

/* Search button */
.btn-outline-success {
    color:  #005a8d;
    border-color:  #005a8d;
}

.btn-outline-success:hover {
    background-color: #005a8d;
    color: #fff;
}

/* Dropdown menu */
.form-select {
    border-color:  #005a8d;
    color:  #005a8d;
}

/* Dropdown menu arrow color */
.form-select:active {
    border-color:  #005a8d;
    color:  #005a8d;
}

/* Dropdown menu hover effect */
.form-select:hover {
    background-color: #f8f9fa;
    color:  #005a8d;
}


/* lesson_list.html */

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Center the table horizontally */
table {
    margin: 0 auto;
}

/* Add border, shadow, and rounded edges to the table */
table {
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Style table headers */
th {
    text-transform: uppercase;
    font-size: 1.1em;
    background-color: #f2f2f2;
    padding: 12px 16px;
}

/* Style table cells */
td {
    text-align: center;
}

